<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>E-Commerce</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
	<div class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->

			<!-- Icon -->
			<div class="fadeIn first">
			    <img src="{% static 'images/logo.png' %}" id="icon" alt="User Icon"/>
			</div>
            <div class="mx-5">
                <h3>Password reset complete</h3>
                <p>Your password has been set. You may go ahead and log in now</p>
                <p class="m-auto p-2"><a class="underlineHover" href="{% url 'login' %}">Login</a></p>
            </div>

		</div>
	</div>
</body>
</html>